
<div mat-dialog-content>
  <ul>
    <li>
      <span >ת.ז. :{{data.ID}}</span>
    </li>
    <li>
      <span>שם פרטי ומשפחה : {{data.FirstNameAndLastName}}</span>
    </li>
    <li>
      <span>כתובת : {{data.Address}}</span>
    </li>
    <li>
        <span>תאריך לידה : {{data.DateOfBirth}}</span>
      </li>
      <li>
        <span>טלפון  : {{data.Phone}}</span>
      </li>
      <li>
        <span>טלפון נייד : {{data.MobilePhone}}</span>
      </li>
      <li>
        <span>מועד קבלת תוצאה חיובית : {{data.DatePositiveResult}}</span>
      </li>
      <li>
        <span>מועד החלמה : {{data.DateRecovery}}</span>
      </li>
  </ul>
</div>